#map {
  height: 100%;

}

html,
body {
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.theIss {
  height: 25px;
  width: 25px;
  color: red;
  border-radius: 75%;
  position: absolute;
}

.app-name {
  font-size: 30px;
  margin-top: 10px;
}

.hamburger span {
  background-color: #F5FBEF;
  width: 40px;
  height: 7px;
  margin-bottom: 3px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
}

.mynavbar {
  justify-content: space-between;
  background: #379167;
  color: #F5FBEF;
  border-bottom: 3px solid #307F5A;
}