#map {
  height: 100%;
  border: 3px solid #307F5A;
}
.theMain{
  height: 100%;
}

html,
body {
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.theISS {
  height: 25px;
  width: 25px;
  color: red;
  border-radius: 75%;
  position: absolute;
  top: 55%;
  right: 50%;
}

.app-name {
  font-size: 30px;
  margin-top: 10px;
}

#menu {
  background: #307F5A;
  padding: 6px 5px 4px 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 0 #266648;
  cursor: pointer;
  width: 50px;
  height: 46px;
  position: relative;
}

span {
  background-color: #F5FBEF;
  width: 40px;
  height: 7px;
  border-radius: 5px;
}

#row1 {
  top: 8px;
  position: absolute;
}

#row2 {
  top: 20px;
  position: absolute;
}

#row3 {
  top: 20px;
  position: absolute;
}

#row4 {
  top: 32px;
  position: absolute;
}

.mynavbar {
  justify-content: space-between;
  background: #379167;
  color: #F5FBEF;
  border-bottom: 3px solid #307F5A;
  margin-bottom: 3%;
}

.myFooter {
  margin-top: 3%;
  text-align: center;
  background: #379167;
  border-top: 3px solid #307F5A;
}
.leftCard{
  height: 100%;
  border: 3px solid #307F5A;
  margin-right: 3%;
}
.rightCard{
  height: 100%;
  border: 3px solid #307F5A;
  margin-left: 3%;
}
.myRow{
  height: 100%;
}
.ourLogo{
  height: 55px;
  width: 55;
  margin: 0px;
  border-radius: 10px;
}