#map {
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.952), 0 6px 20px 0 rgba(247, 239, 239, 0.2);
}

.theMain {
  height: 100%;
}

#toggledField {
  width: 250px;
}

#test1 {
  animation-delay: 250ms;
}

#test2 {
  animation-delay: 500ms;
}

#test3 {
  animation-delay: 750ms;
}

#test4 {
  animation-delay: 1000ms;
}

.consoleData {
  background: #3D3C3B;
}
#inputButton{
  background-color: #e82c29;
  border: #F5FBEF;
  width: 55px;
  height: 55px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
}

.testFields {
  text-align: center;
  font-weight: bold;
  border: rgb(145, 142, 142) 1px solid;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 4%;
  padding-top: 10px;
}

.testFields:hover {
  background-color: #fc8987;
  color: rgb(241, 243, 245);
  transition-duration: 750ms;
}

.leftH2 {
  font-weight: bolder;
  font-size: 20px;
  margin-top: 2%;
  text-align: center;
}

#issLocationLat {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2%;
}

#issLocationLon {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

#issDistance {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2%;
  margin-bottom: 50px;
}

#currentIssWeatherTemp {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2%;
}

#currentIssWeatherWind {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 50px;
}

#currentIssWeatherHum {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2%;
}

#currentIssWeatherRain {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2%;
}

html,
body {
  font-family: 'Varela Round', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
}

#theISS {
  height: 14px;
  width: 14px;
  background-color: #e82c29;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  right: 50%;
}

#dot-pulse {
  border-radius: 75%;
  background-color: #e82c29;
  animation: pulse 5s infinite;
}

#map div[title="the ISS"] img {
  display: none;
}

/* look in the map div for a div with a title of "the ISS" */
#map div[title="the ISS"] {
  border-radius: 50%;
  background-color: #e82c29;
  animation: pulse 5s infinite;
  
}


@keyframes pulse {
  0% {
    opacity: 0.5;
    height: 14px;
    width: 14px;
    transition: opacity 0.5s linear;
  }

  50% {
    opacity: 0;
    transform: scale(5);
    transition: opacity 0.5s linear;
  }

  100% {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
}

.app-name {
  font-size: 30px;
  margin-top: 10px;
  font-weight: bolder;
}

#menu {
  background: #12224F;
  padding: 6px 5px 4px 5px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.25), 0 6px 20px 0 rgba(247, 239, 239, 0.2);
  cursor: pointer;
  width: 50px;
  height: 46px;
  position: relative;
}

span {
  background-color: #F5FBEF;
  width: 40px;
  height: 7px;
  border-radius: 5px;
}

#row1 {
  top: 8px;
  position: absolute;
}

#row2 {
  top: 20px;
  position: absolute;
}

#row3 {
  top: 20px;
  position: absolute;
}

#row4 {
  top: 32px;
  position: absolute;
}

.mynavbar {
  justify-content: space-between;
  background: #1A306D;
  color: #F5FBEF;
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.25), 0 6px 20px 0 rgba(247, 239, 239, 0.2);
  margin-bottom: 3%;
}

.myFooter {
  margin-top: 3%;
  text-align: center;
  background: #1A306D;
  border-top: 3px solid #12224F;
}

.leftCard {
  height: 100%;
  border-radius: 10px;
  margin-right: 3%;
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.952), 0 6px 20px 0 rgba(247, 239, 239, 0.2);
  background-color: #3D3C3B;
  padding-top: 10px;
}

.rightCard {
  height: 100%;
  border-radius: 10px;
  margin-left: 3%;
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.952), 0 6px 20px 0 rgba(247, 239, 239, 0.2);
  background-color: #3D3C3B;
}

.myRow {
  height: 100%;
}

.ourLogo {
  height: 55px;
  width: 55;
  margin: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(253, 252, 252, 0.25), 0 6px 20px 0 rgba(247, 239, 239, 0.2);
}


canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 1000px;
  width: 100%;
}